$page_color: #fcfcfc;
$white: #ffffff;
$text_dark_gray: #3b3b3b;
$light_gray: #918f89;

@media all and (min-width: 769px) {

    body {
        margin: 0 auto;
        width: 100%;
        background: $page_color 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    header {
        height: 60px;
        width: 100%;
        display: flex;

        a {
            text-align: center;
            font-family: Noto Sans JP;
            font-size: 16px;
            letter-spacing: 0;
            opacity: 1;
            margin-top: 15px;
            margin-left: 88px;
            color: $light_gray;
            text-decoration: none;
        }

        nav {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            ul {
                width: 335px;
                height: 35px;
                top: 25px;
                text-align: right;
                margin-right: 89px;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
            }

            li {
                list-style: none;
                text-align: left;
                font-family: Noto Sans JP;
                letter-spacing: 0;
                opacity: 0.5;

                a {
                    text-decoration: none;
                    color: #272727;
                }
            }
        }
    }

    main {

        .top_img {
            background-image: url(../image/img_01.png);
            background-size: cover;
            padding-left: 1280px;
            padding-top: 741px;
        }


        .top-text {
            text-align: left;
            font-family: Noto Sans JP;
            font-size: 60px;
            font-weight: 400;
            color: $light_gray;
            letter-spacing: 3px;
            top: 295px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 31px 60px 23px 88px;
            position: absolute;
        }
    }

    .contents_text {
        padding-left: 702px;
        background-image: url(../image/img_02.png);
        background-origin: padding-box;
        background-position: 88px 142px;
        background-repeat: no-repeat;
        margin: 0 auto;

        h2 {
            text-align: left;
            font-family: Noto Serif JP;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 2.5px;
            color: $text_dark_gray;
            opacity: 1;
            padding-top: 343px;
            margin: 0;
        }

        p {
            text-align: left;
            font-family: Noto Sans JP;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0.36px;
            color: $text_dark_gray;
            opacity: 1;
            padding-top: 40px;
            padding-bottom: 92px;
            margin: 0;
        }
    }

    .gallery {
        h2 {
            height: 29px;
            text-align: center;
            font-family: Noto Serif JP, sans-serif;
            font-weight: 300;
            font-size: 25px;
            font-style: normal;
            letter-spacing: 2.5px;
            color: $text_dark_gray;
            opacity: 1;
            padding-top: 200px;
            padding-bottom: 582px;
            background-image: url(../image/img_03.png);
            background-repeat: no-repeat;
            background-position: center bottom;

        }
        text-align: center;
        button {
            background: none;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .side-dot {
            color: #A5A5A5;
            opacity: 0.3;
        }
        .center-dot {
            color: #A5A5A5;
        }
    }

    h2 {
        height: 29px;
        text-align: center;
        font-family: Noto Sans JP;
        font-weight: 100;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 2.5px;
        color: $text_dark_gray;
        opacity: 1;
        padding-bottom: 50px;
    }
    .news {
        padding-top: 246px;
        display: flex;
        justify-content: space-around;

        .armstrong1 {
            background-image: url(../image/img_04.png);
            background-repeat: no-repeat;
            position: relative;
            width: 334px;
            height: 387px;
            &:hover {
                &::before {
                    height: 100%;
                }
                p {
                    color: $white;
                    top: 50%;
                }
            }
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                background-color: rgba(0,0,0,0.6);
                transition: 0.3s ease;
                content: '';

            }
            p {
                font-family: Noto Sans JP;
                color: $white;
                width: 251px;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                color: transparent;
                transition: 0.3s ease;
                text-align: center;
                opacity: 0.8;
            }
        }
        .armstrong2 {
            background-image: url(../image/img_05.png);
            width: 334px;
            height: 387px;
            background-repeat: no-repeat;
            position: relative;
            width: 334px;
            height: 387px;

            &:hover {
                &::before {
                    height: 100%;
                }

                p {
                    color: $white;
                    top: 50%;
                }
            }

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                transition: 0.3s ease;
                content: '';

            }

            p {
                font-family: Noto Sans JP;
                color: $white;
                height: 0;
                opacity: 0;
                width: 257px;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                color: transparent;
                transition: 0.3s ease;
                text-align: center;
                opacity: 0.8;
            }
        }
        .armstrong3 {
            background-image: url(../image/img_06.png);
            background-repeat: no-repeat;
            position: relative;
            width: 334px;
            height: 387px;

            &:hover {
                &::before {
                    height: 100%;
                }

                p {
                    color: $white;
                    top: 50%;
                }
            }

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                transition: 0.3s ease;
                content: '';

            }
            p {
                font-family: Noto Sans JP;
                color: $white;
                height: 0;
                opacity: 0;
                width: 257px;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                color: transparent;
                transition: 0.3s ease;
                text-align: center;
                opacity: 0.8;
            }
        }
    }

    .more {
        text-decoration: none;
        color: $text_dark_gray;
        font-family: Noto Sans JP;
        font-size: 21px;
        line-height: 53px;
        width: 113px;
        display: block;
        margin: 0 auto;
    }

    .contact {
        padding-top: 200px;
        margin: 0;

        h2 {
            text-align: center;
            font-family: Noto Sans JP;
            font-weight: 100;
            font-size: 25px;
            letter-spacing: 2.5px;
            color: $text_dark_gray;
            opacity: 1;
            height: 29px;
        }

        form {

            display: flex;
            flex-direction: column;
            width: 463px;
            margin: 0 auto;

            .name {
                width: 463px;
                height: 35px;
                background: $white 0% 0% no-repeat padding-box;
                border: 0.5px solid #707070;
                border-radius: 11px;
                opacity: 0.6;
                margin-top: 60px;
            }

            .mail {
                width: 463px;
                height: 35px;
                background: $white 0% 0% no-repeat padding-box;
                border: 0.5px solid #707070;
                border-radius: 11px;
                opacity: 0.6;
                margin-top: 30px;
            }

            textarea {
                width: 463px;
                height: 156px;
                background: $white 0% 0% no-repeat padding-box;
                border: 0.5px solid #707070;
                border-radius: 11px;
                opacity: 0.6;
                margin-top: 30px;
            }

            .submit {
                width: 111px;
                height: 35px;
                background: #707070 0% 0% no-repeat padding-box;
                color: $white;
                opacity: 1;
                border-radius: 16px;
                margin: 60px auto;
            }
        }
    }


footer {
    width: 100%;
    height: 284px;
    background: #918f89 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 233px;

    .footer-logo {
        display: inline-block;
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 22px;
        color: $white;
        margin-top: 116px;
        margin-left: 227px;
        float: left;

    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        width: 335px;
        margin: 0;
        padding-top: 136px;
        padding-left: 422px;
        li {
            list-style: none;
            text-align: left;
            font-family: Noto Sans JP;
            font-weight: 100;
            font-size: 18px;
            letter-spacing: 0;
            color: $white;
            opacity: 1;

        }
    }

    .sponsor {
        text-align: center;
        font-family: Gill Sans;
        font-size: 10px;
        letter-spacing: 0.4px;
        color: $white;
        opacity: 1;
        margin: 0;
        float: none;
        clear: both;
        padding-top: 59px;
    }
}

/* ↓news.html↓ */

.news-top {
    font-family: Noto Sans JP;
    font-size: 30px;
    letter-spacing: 3px;
    color: $light_gray;
    background-image: url(../image/img_07.png);
    background-size: cover;
    padding: 200px 0px 200px 200px;
}

.news-h2 {
    font-family: Noto Sans JP;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2.1px;
    color: $text_dark_gray;
    text-align: center;
    margin-top: 86px;
}


//

.QandA-top {
    background-image: url(../image/img_08.png);
    background-size: cover;
    padding: 200px 0 200px 200px;
    margin: 0;
    font-family: Noto Sans JP;
    font-size: 30px;
    font-weight: 300;
    color: $white;
}

.question {
    font-family: Noto Sans JP;
    font-size: 21px;
    letter-spacing: 0.63px;
    color: $text_dark_gray;
    text-align: center;
}

.down {
    text-align: left;
    width: 474px;
    margin: 0 auto;
    .check {
        display: none;
        &:checked + .label + .answer {
            visibility: visible;
        }
        &:checked + .label {
            transition: 0.5s;
            transform: rotate(-180deg);
        }
    }
    .label {
        display: inline-block;
        padding-top: 100px;
        font-family: Noto Sans JP;
        font-size: 16px;
        font-weight: 300;
        color: $text_dark_gray;
    }
    i {
        display: inline-block;
        padding-left: 187px;
        color: $light_gray;

    }
    .answer {
        margin: 0 auto;
        text-align: left;
        font-size: 12px;
        letter-spacing: 0.36px;
        color: $text_dark_gray;
        visibility: hidden;
    }
}

}
