.container {
    margin: 0 auto;
    width: 1280px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

header {
    height: 60px;
    display: flex;
}

.header-logo {
    text-align: center;
    font-family: Gill Sans;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 1;
    margin-top: 15px;
    margin-left: 88px;
}
.header-logo a {
    color: #918F89;
    text-decoration: none;
}

header ul {
    width: 335px;
    height: 35px;
    top: 25px;
    left: 855px;
    margin-right: 90px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

header li {
    list-style: none;
    text-align: left;
    font-family: Noto Sans;
    letter-spacing: 0;
    opacity: 0.5;
}

header li a {
    text-decoration: none;
    color: #272727;
}

.back_square {
    width: 702px;
    height: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.8;
    top: 324px;
    position: absolute;
}
.back_square h1 {
    text-align: left;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 3px;
    color: #918F89;
    opacity: 1;
    height: 82px;
    top: 31px;
    left: 88px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
}

.contents {
    display: flex;
}

.contents img {
    padding-top: 142px;
    padding-left: 88px;
}

.contents_text {
    padding-left: 70px;
}

.contents_text h2 {
    text-align: left;
    font-family: dnp-shuei-mincho-pr6n,
sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    padding-top: 343px;
}

.contents_text p {
    text-align: left;
    font-family: DNP ShueiGoKinStd;
    font-size: 12px;
    letter-spacing: 0.36px;
    color: #3B3B3B;
    opacity: 1;
    padding-top: 40px;
}

.gallery h2 {
    width: 194px;
    height: 29px;
    text-align: left;
    font-family: dnp-shuei-mincho-pr6n,
    sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    padding: 210px 543px 40px 543px;
}

.gallery img {
    padding: 40px 158px;
}

.news {
    padding-top: 246px;
}

.news h2 {
    width: 79px;
    height: 29px;
    text-align: left;
    font-family: Noto Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    padding-left: 600.5px;
    padding-bottom: 50px;
}

.news_img {
    display: flex;
    justify-content: space-around;
}

.news p {
    text-align: left;
    font-family: Noto Sans;
    font-size: 21px;
    letter-spacing: 1.05px;
    color: #3B3B3B;
    opacity: 1;
    margin-left: 590px;
    margin-top: 50px;
}

.contact {
    margin-top:210px;
}

.contact h2 {
    text-align: left;
    font-family: Noto Sans;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    margin-left: 574.5px;
}

.name {
    width: 463px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-left: 409px;
    margin-bottom: 30px;
}

.mail {
    width: 463px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-left: 409px;
    margin-bottom: 30px;
}

textarea {
    width: 463px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-left: 409px;
    margin-bottom: 60px;
}

.submit {
    width: 111px;
    height: 35px;
    background: #D1D1D1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 584px;
    border-radius: 16px;
}

footer {
    width: 1280px;
    height: 416px;
    background: #918F89 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 233px;
}

.footer-logo {
    width: 77px;
    height: 48px;
    text-align: center;
    font-family: Gill Sans;
    font-size: 22px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 227px;
    padding-top: 116px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding-left: 726px;
    padding-bottom: 124px;
}

footer li {
    list-style: none;
    text-align: left;
    font-family: Noto Sans;
    font-size: 18px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-right: 102px;
}

footer p {
    width: 82px;
    height: 9px;
    text-align: center;
    font-family: Gill Sans;
    font-size: 10px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 599px;
}

